#form-dialog-title{
    padding-bottom:0px !important; 
}
.paper{
    padding: 2px;
    text-align : center;
    color: blue;
    
}
#btn-save{
    font-weight: 600;
}

.divider {
    margin: 5px 0px !important;
}
.min_salary {
    z-index: 1000 !important;
  }
