.root-profile{
    .detail{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar{
        height: 232px;
        width: auto;
        border-radius: 6px;
    }
}
