.root-class-detail{
    .MuiStepper-root{
        padding: 8px !important; 
    }
    padding: 10px;
    margin: 0px !important;
    width: 100%;
    .date-time{
        margin-top: 8px;
        .MuiInputBase-root{
            height: 37px;
        }
    }
    .school-select{
        margin-top: 7px;
        z-index: 1000;
    }
    .check-center{
        .MuiFormLabel-root{
            margin-top: 8px;
            margin-bottom: 0px; 
        }
    }
    .btn-vee{
        margin: 8px 8px 8px 0px ;
    }
    .btn-product{
        display: inline-block;
        background: white;
        border: 1px solid gray;
        padding: 4px 20px;
        font-weight: bold;
        align-items: center;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.23);
        p{
            text-transform: uppercase;
        }
    }
    .btn-product:hover{
        background: green;
        cursor: pointer;

        span{
            color: white;
        }
    }
    .btn-active{
        background: green;
        span{
            color: white;
        }
    }
    .btn-disabled{
        span{color: gray}
        background: transparent;
    }
    .btn-disabled:hover{
        cursor: not-allowed !important;
        background: transparent;
        span{color: gray}
    }
    // input{
    //     background: white;
    // }
}