.search-card{
    .MuiCardContent-root{
      padding: 12px;
    }
    .search-grid{
      margin-top: 0px;
    }
    :hover{
      background: #deebff;
    }
  }
.select-box{
  z-index: 1000 !important;
}