/node_modules
/public/hot
/public/storage
/public/document/
/public/images/documents/
/public/lms/
/public/images/answers/
/public/images/students/
/public/docs
/public/recording
/storage/*.key
/vendor
.idea/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.user.ini
doc_bk.zip
