.root-service{
    margin: 15px;
    h5{
        font-weight: bold;
    }
    .MuiImageListItem-root{
        padding-right: 15px !important;
    }
    .btn{
        margin-bottom: 20px;
    }
    .detail{
        margin: 7px;
        border: 1px solid black; 
        border-radius: 5px;
    }
}