.root-service{
    margin: 15px;
    h5{
        font-weight: bold;
    }
    .MuiImageListItem-root{
        padding-right: 15px !important;
    }
    .btn{
        margin-bottom: 30px;
        border: 1px solid #8bc34a;
    }
    .detail{
        padding: 10px;
        
        .MuiImageListItem-item{
            overflow-y: scroll;
            border: 1px solid black; 
            border-radius: 5px;
            padding: 5px;
        }
    }
}