
.account-root{
  .date-time {
    display: inline-flex;
    width: 100%;
    .input-date {
      width: 100%;
      height: 50px;    
      .MuiInputBase-root {
        height: 40px;
      }
      .MuiOutlinedInput-adornedEnd {
        padding-right: 0;
      }
      .MuiInputAdornment-positionEnd {
        margin-left: 0;
      }
    }
  }
.gender-group {
    flex-direction: row !important;
    flex: 1;
    .MuiRadio-colorSecondary.Mui-checked {
      color: #f38718;
    }
    .radio {
      width: 40%;
      
    }
    .middle {
      padding: 0 5%;
    }
  }
}
