.root-setting-role{
    margin: 20px;
    .active_a{
        color:white;
    }
}

.MuiToolbar-gutters{
    h6{
        text-transform: capitalize;
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
    }
}