.root-entrance{
    margin: 12px;
    #entrance-detail{
        margin: 12px;
    }
    td{
        .MuiIconButton-root{
            padding: 5px 5px;
        }
    }
    .entrance_comment{
        margin-left: 15px;
    }
}
.loading{
    
}