.root-transaction{
    margin: 15px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 4px;
    // #transaction-form{
    //     margin: 10px;
    // }
    .paper-transaction{
        padding: 13px;
    }
    .submit-btn{
        margin-top: 15px;
    }
    .transaction-form{
        margin: 5px 5px 10px 5px;
        .submit-btn{
            margin-bottom: 5px;
        }
    }
    
}
.submit-btn{
        margin-top: 15px;
    }
.credit-account{
    margin-left: 13px !important;
}
.transaction-table{
    margin: 15px;
    .MuiPaper-root{
        border-radius: 5px;
    }
}
.filter{
    padding: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    margin: 15px;
    border-radius: 5px;
    .student{
        .select-box{
            z-index: 999;
        }
    }
    .class{
        .select-box{
            z-index: 999;
        }
    }
    .tag{
        .select-box{
            z-index: 998 !important;
        }
    }
    .account{
        .select-box{
            z-index: 998 !important;
        }
    }
    .btn{
        margin-top: 26px;
    }
}