.dialog-create-student{
    .input-text{
        margin-top: 8px;
        margin-bottom:4px;
    }
    .relationship-select{
        margin-top: 8px; 
        margin-bottom: 4px;
    }
    .title-header{
        margin-left: 15px;
        padding-top: 15px;
    }

}
