.MTableToolbar-searchField-816{
    margin-right: 10px;
}
.MuiToolbar-gutters{
    h6{
        text-transform: capitalize;
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
    }
}
.MuiTable-root{
    table-layout: unset;
}