.MTableToolbar-searchField-215 {
    margin-right: 22px !important;
}
.MuiToolbar-gutters{
    h6{
        text-transform: capitalize;
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
    }
}