.syllabus-root{
    margin: 15px;
    .syllabus-content{
        padding: 15px;
        .syllabus-title{
            margin: 10px 0px;
        }
        .ck-content{
            ol li{
                margin-left: 15px;
            }
            ul li{
                margin-left: 15px;
            }
        }
    }
    .syllabus-action{
        padding: 15px;
    }
}