.syllabus-root{
    margin: 15px;
    .syllabus-content{
        padding: 15px;
        .syllabus-title{
            margin: 10px 0px;
        }
    }
    .syllabus-action{
        padding: 15px;
    }
}