.root-receipt{
    margin: 15px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 4px;
    // #receipt-form{
    //     margin: 10px;
    // }
    .paper-receipt{
        padding: 13px;
    }
    .submit-btn{
        margin-top: 15px;
    }
    .transaction-add{
        margin-top: 15px;
    }
    #transactions{
        border-bottom: 1px solid #f5f5f5;
    }
    #transactions .Mui-expanded{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .transaction-form{
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #8bc34a;
    }
    
}
.credit-account{
    margin-left: 13px !important;
}